@import url(./var.css);

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;
    background-color: #FFF;
}

.prom {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    height: 40vh;
}

.gerais {
    display: flex;
}