@import url(./var.css);

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    background-color: #fff;
}

.promos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    height: 40vh;

}

.prom {
    max-width: 50%;
}

.prom1 {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 15%, transparent 100%), url('../assets/carro-esportivo.png');
    background-size: cover; /* Para cobrir toda a área */
    background-position: center; /* Para centralizar a imagem */
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.subtitulo {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.gerais {
    display: flex;
}